<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>motdepasse</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user['idUtilisateur'] }}</td>
            <td>{{ user['motdepasse'] }}</td>
            <td>{{ user['email'] }}</td>
            <td>
                <form method="POST" action="/supprimer_utilisateur" onsubmit="return confirm('Confirmer la suppression ?')">
                    <input type="hidden" name="idUtilisateur" value="{{ user['idUtilisateur'] }}">
                    <button type="submit">Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
