<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Tâches</title>
</head>
<body>
    <h1>Liste des Tâches</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Date selectionnee</th>
                <th>Date Limite</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for tache in taches %}
                <tr>
                    <td>{{ tache['titre'] }}</td>
                    <td>{{ tache['description'] }}</td>
                    <td>{{ tache['selectedday'] }}</td>
                    <td>{{ tache['deadline'] }}</td>
                    <td>{{ tache['statut'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/dashboard">Retour au Dashboard</a>
    <form method="POST" action="/supprimer_toutes_taches">
        <button type="submit">Supprimer toutes les tâches</button>
    </form>
</body>
</html>
